.red {
  color: #EE0F0F;
}
.blue-icon {
  color: #1088e2;
}
.blue-button {
  color: #27bcfd;
}
.circ {
  color:#1088e2;
}
.progress-label {
  position: absolute;
  text-align: center;
  font-weight: 700;
  width: 100%;
  margin: 0;
  line-height: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
}

.progress-bar {
  height: 1.2rem;
  float: left;
  background-color: #2979ff;
}

.progress {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  height: 1.2rem;
  background-color: #eeeeee;
  position: relative;
}

.progress.thin {
  margin-top: 0.9rem;
  height: 0.4rem;
}

.progress.thin .progress-label {
  margin-top: -0.4rem;
}

.progress.thin .progress-bar {
  height: 0.4rem;
}

.progress-100plus .progress-bar {
  background-color: #00e676;
}

.progress-80plus .progress-bar {
  background-color: #fbc02d;
}

.progress-60plus .progress-bar {
  background-color: #ff9100;
}

.progress-40plus .progress-bar {
  background-color: #ff5252;
}

.progress-20plus .progress-bar {
  background-color: #ff1744;
}

.progress-0plus .progress-bar {
  background-color: #f50057;
}
.left_text {
float: left
}
.right_text {
float: right
}
img {
filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}
.box {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

#grid1 {
  display: grid;
  grid-template-rows: 2em 2em 2em;
  grid-template-columns: 11em;
  grid-auto-columns: 11em;
  grid-auto-flow: column;
  grid-gap: 5px;
}
#grid1 > div {
  font-size: 16px;
  padding: 10px;
}

.twocolumn {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
